{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ article.title }}{% endblock %}

{% block head %}
  <link href="{% static 'css/evento.css' %}" rel="stylesheet">
  <script src="{% static 'js/rueda.js' %}"></script>
{% endblock head %}

{% block main %}
<div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Rueda de Negocio
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive table-bordered">
                                <table class="table table-hover">
                                {% if rueda %}
                                    <tbody>
                                            <div class=''>
                                            <div class=''><img src="{{ rueda.imagen.url }}" alt="Imagen de Evento" /></div>
                                            </div>
                                        <tr>
                                            <div class='evento-fields'>
                                                <div class='evento-label'>Titulo</div>
                                                <div class='evento-field'>{{ rueda.titulo }}</div>
                                                <div class="clear"></div>
                                            </div>
                                        </tr>
                                        <tr>
                                            <div class='evento-fields'>
                                                <div class='evento-label'>¿De que se trata?</div>
                                                <div class='evento-field'>{{ rueda.descripcion }}</div>
                                                <div class="clear"></div>
                                            </div>

                                        </tr>
                                        <tr>
                                            <div class='evento-fields'>
                                                <div class='evento-label'>¿Cuando es?</div>
                                                <div class='evento-field'>{{ rueda.fecha_inicio }}</div>
                                                <div class="clear"></div>
                                            </div>    
                                        </tr>
                                        <tr>
                                            <div class='evento-fields'>
                                                <div class='evento-label'>¿Cuando terminassss?</div>
                                                <div class='evento-field'>{{ rueda.fecha_fin }}</div>
                                                <div class="clear"></div>
                                            </div>
                                        </tr>
                                        <tr>
                                            <div class='evento-fields'>
                                                <div class='evento-label'>¿Donde?</div>
                                                <div class='evento-field'>{{ rueda.lugar }}</div>
                                                <div class="clear"></div>
                                        </tr>
                                        <tr>
                                            <div class='evento-fields'>
                                                <div class='evento-label'>¿Cuanto Cuesta?</div>
                                                <div class='evento-field'>{{ rueda.precio }} Bs</div>
                                                <div class="clear"></div>
                                        </tr>
                                        <tr>
                                            <div class='evento-fields'>
                                                <div class='evento-label'>¿Contactos para mas Referencias?</div>
                                                <div class='evento-field'>{{ rueda.contacto }}</div>
                                                <div class="clear"></div>
                                        </tr>
                                        <tr>
                                            <div class='evento-fields'>
                                                <div class='evento-label'>Sectores de interes</div>
                                                <div class='evento-field'>
                                                    <ul>
                                                    {% for sectores in rueda.tipo.all %}
                                                        <li>
                                                            <div class='invitados'>
                                                                {{ sectores }}
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                    </ul>

                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </tr>
                                        {% if creador %}
                                            <div class='evento-editar-btn'>
                                                <a href="/social/evento/edit/{{ evento.id }}"><div class="evento-editar">editar</div></a>
                                            </div>
                                        {% endif %}
                                    </tbody>
                                {% else %}
                                    <div>No existe este evento</div>
                                {% endif %}    
                                </table>
                                {% include 'evento/partial_rueda_comments.html' with rueda=rueda %}
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
{% endblock main     %}

{% block crear %}
    <a href="/social/nuevo/"><div class="new-item-buttom">Crear Evento</div></a>
{% endblock %}
